div{
  text-align: center;
}
nav{
  background-color: orange;
  height: 90px;
  padding: 20px;
}
h1{
  color: white;
  height: 40px;
}
img{
  height: 300px;
  width: 300px;
}
h4{
  background-color: black;
  color: white;
  height: 40px;
  width: 100%;
}